# Only install platform-specific binaries for current OS
sharp_binary_host=https://github.com/lovell/sharp-libvips/releases/download/
sharp_libvips_binary_host=https://github.com/lovell/sharp-libvips/releases/download/

# Skip optional dependencies during electron-builder
optional=false
